@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;

400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: "AkzidenzGroteskBQ";
  font-display: swap;
  src: url("../fonts/AkzidenzGroteskBQ-BdCnd.woff2") format("woff2"), url("../fonts/AkzidenzGroteskBQ-BdCnd.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

.pts,
.imageblock__title {
  font-family: "PT Serif";
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: relative;
  z-index: 50;
}

.header__body {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: inline-block;
  width: 172px;
  position: relative;
  z-index: 6;
}

.header__logo img {
  max-width: 100%;
}

.menu-header__icon {
  display: none;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.menu-header__list li {
  margin: 0px 0px 0px 35px;
}

.menu-header__link {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #646667;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  display: block;
}

.menu-header__link--circle {
  padding: 0px 42px 0px 0px;
  background: url("../../img/icons/earth.svg") right no-repeat;
}

.menu-header__link span {
  position: relative;
  display: block;
  line-height: 28px;
}

.menu-header__link span:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 1px;
  bottom: 0;
  background-color: #007397;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-header__link:hover {
  color: #007397;
}

.menu-header__link:hover span:after {
  left: 0;
  width: 100%;
}

.menu-open body {
  overflow: hidden;
}

.menu-open .header__menu {
  left: 0;
}

.menu-open .menu-header__icon span:nth-child(2) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu-open .menu-header__icon span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.menu-open .menu-header__icon span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 8px;
}

.btn {
  display: inline-block;
  padding: 0px 30px;
  height: 56px;
  line-height: 56px;
  overflow: hidden;
  background: #007397;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  min-width: 270px;
  text-align: center;
}

.btn:after {
  content: "";
  width: 0;
  position: absolute;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  height: 100%;
  left: 50%;
  top: 0;
  background-color: #00526b;
}

.btn span {
  position: relative;
  z-index: 2;
}

.btn._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

.input._form-error {
  border: 2px solid red;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.checkbox__input:checked + .checkbox__label:before {
  background: #000;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #a7a9ac;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__item:not(:last-child) {
  margin-bottom: 0.3125em;
}

.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.options__input:focus + .options__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.options__input:checked + .options__label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 10px;
}

.options__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  border-radius: 50%;
  border: 1px solid #a7a9ac;
}

.options__label:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 5px;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value:before {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.bluebg {
  position: relative;
  overflow: hidden;
}

.bluebg:after {
  content: "";
  position: absolute;
  -ms-transform: rotate(18deg);
  -webkit-transform: rotate(18deg);
  transform: rotate(18deg);
  width: 35%;
  height: 130%;
  left: -50px;
  top: -95px;
  background: -o-linear-gradient(251.57deg, #007397 4.17%, rgba(0, 115, 151, 0.0001) 87.5%);
  background: linear-gradient(198.43deg, #007397 4.17%, rgba(0, 115, 151, 0.0001) 87.5%);
}

.bluebg--news:after {
  content: "";
  left: -60px;
  width: 100%;
}

.title {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #3c3f3d;
}

.mainblock {
  margin: 0px 0px 100px 0px;
}

.mainblock__imageblock {
  margin: 0px 0px 40px 0px;
}

.imageblock {
  position: relative;
  height: 411px;
}

.imageblock__title {
  position: absolute;
  bottom: 80px;
  right: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.6);
  max-width: 770px;
  z-index: 5;
  padding: 0px 20px 0px 0px;
}

.imageblock__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.bottomblock {
  text-align: center;
}

.bottomblock__text {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 20px;
  line-height: 180%;
  color: #646667;
  max-width: 970px;
  margin: 0px auto;
}

.bottomblock__btn {
  margin: 40px 0px 0px 0px;
}

.investor {
  margin: 0px 0px 100px 0px;
}

.investor__title {
  margin: 0px 0px 50px 0px;
}

.investor__text {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  max-width: 670px;
  /* or 180% */
  color: #646667;
  margin: 0px 0px 40px 0px;
}

.stat-investor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px -5px 30px -5px;
}

.stat-investor__column {
  padding: 0px 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 0px 0px 25px 0px;
}

.item-stat {
  text-align: center;
}

.item-stat__value {
  font-family: "PT Serif";
  font-size: 54px;
  text-transform: uppercase;
  color: #007397;
  margin: 0px 0px 7px 0px;
}

.item-stat__text {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 32px;
  color: #aec3d4;
}

.newsmedia {
  margin: 0px 0px 70px 0px;
}

.header-newsmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 40px 0px;
}

.nav-newsmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.nav-newsmedia__item {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #d3cfce;
  cursor: pointer;
  margin: 0px 0px 0px 100px;
}

.nav-newsmedia__item._tab-active {
  color: #007397;
}

.item-newsmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.item-newsmedia__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
}

.content-newsmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  max-width: 500px;
  margin: 0px auto;
}

.content-newsmedia__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 200%;
  color: #646667;
  padding: 28px 0px;
}

.content-newsmedia__more {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #007397;
}

.content-newsmedia__more:hover {
  text-decoration: underline;
}

.header-contentnewsmedia {
  height: 370px;
  position: relative;
}

.header-contentnewsmedia__content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  padding: 25px 30px;
}

.header-contentnewsmedia__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.header-contentnewsmedia__image.bluebg:after {
  width: 98%;
}

.content-newsmediavalues__category {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
}

.content-newsmediavalues__category:hover {
  text-decoration: underline;
}

.content-newsmediavalues__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0px 30px 70px 30px;
  bottom: 0;
}

.content-newsmediavalues__title:hover {
  text-decoration: underline;
}

.country__title {
  margin: 0px 0px 40px 0px;
}

.country__map {
  height: 448px;
}

.footer__body {
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column:last-child {
  text-align: right;
}

.footer__copy {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #646667;
}

.footer__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #646667;
  display: inline-block;
  margin: 0px 0px 0px 30px;
}

.footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }

  .menu-header__list li {
    margin: 0px 0px 0px 25px;
  }

  .imageblock__title {
    font-size: 28px;
    max-width: 670px;
    line-height: 44px;
  }

  .item-newsmedia {
    margin: 0px -10px;
  }

  .item-newsmedia__column {
    padding: 0px 10px;
  }

  .header-contentnewsmedia__content {
    padding: 25px 20px;
  }

  .content-newsmediavalues__title {
    font-size: 18px;
    line-height: 24px;
    padding: 0px 20px 50px 20px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }

  .header__body {
    height: 70px;
  }

  .header__logo {
    width: 130px;
  }

  .menu-header__list li {
    margin: 0px 0px 0px 15px;
  }

  .menu-header__link--circle {
    background-size: 20px;
    padding: 0px 25px 0px 0px;
  }

  .menu-header__link {
    font-size: 11px;
  }

  .mainblock {
    margin: 0px 0px 80px 0px;
  }

  .mainblock {
    margin: 50px 0px;
  }

  .mainblock__imageblock {
    margin: 0px 0px 25px 0px;
  }

  .imageblock {
    height: 300px;
  }

  .imageblock__title {
    font-size: 20px;
    max-width: 500px;
    line-height: 35px;
    bottom: 50px;
  }

  .bottomblock__text {
    font-size: 16px;
    line-height: 28px;
  }

  .bottomblock__btn {
    margin: 25px 0px 0px 0px;
  }

  .investor {
    margin: 0px 0px 60px 0px;
  }

  .item-stat__value {
    font-size: 40px;
    margin: 0px 0px 5px 0px;
  }

  .item-stat__text {
    font-size: 14px;
  }

  .newsmedia {
    margin: 0px 0px 40px 0px;
  }

  .nav-newsmedia__item {
    margin: 0px 0px 0px 50px;
  }

  .item-newsmedia {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .item-newsmedia__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }

  .container {
    max-width: none;
    padding: 0px 10px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
  }

  .header__body {
    height: 50px;
  }

  .menu-header__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .menu-header__icon span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    top: 8px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .menu-header__icon span:first-child {
    top: 0px;
  }

  .menu-header__icon span:last-child {
    top: auto;
    bottom: 0px;
  }

  .menu-header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -110%;
    background-color: #fff;
    z-index: 2;
    padding: 50px 10px 20px 10px;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu-header__menu {
    left: 0;
  }

  .menu-header__list li {
    margin: 0px 0px 0px 0px;
  }

  .menu-header__list {
    display: block;
  }

  .menu-header__link--circle {
    background-position: left;
    padding: 0px 0px 0px 25px;
  }

  .menu-header__link {
    font-size: 14px;
  }

  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    line-height: 18px;
  }

  .title {
    font-size: 25px;
    line-height: 33px;
  }

  .mainblock__imageblock {
    margin: 0px 0px 50px 0px;
  }

  .imageblock {
    height: auto;
    min-height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .imageblock__title {
    text-align: center;
    max-width: none;
    padding: 20px;
    position: relative;
    bottom: 0;
    font-size: 18px;
    line-height: 30px;
  }

  .bottomblock__btn {
    width: 100%;
  }

  .investor {
    margin: 0px 0px 50px 0px;
  }

  .investor__title {
    margin: 0px 0px 20px 0px;
  }

  .investor__text {
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 20px 0px;
  }

  .stat-investor {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px -5px 0px -5px;
  }

  .stat-investor__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }

  .newsmedia {
    margin: 0px 0px 20px 0px;
  }

  .header-newsmedia {
    display: block;
    margin: 0px 0px 20px 0px;
  }

  .header-newsmedia__title {
    margin: 0px 0px 30px 0px;
  }

  .nav-newsmedia {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .nav-newsmedia__item {
    margin: 0px 0px 10px 0px;
  }

  .country__title {
    margin: 0px 0px 25px 0px;
  }

  .footer__column:last-child {
    text-align: center;
  }

  .footer__link {
    margin: 15px 10px 0px 10px;
  }
}

@media (max-width: 630px) {
  .item-newsmedia__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 600px) {
  .footer__body {
    display: block;
    height: auto;
    text-align: center;
    padding: 20px 0px;
  }
}

@media (max-width: 479.98px) {
  .stat-investor__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (any-hover: hover) {
  .btn:hover:after {
    left: 0;
    width: 100%;
  }

  .select__option:hover {
    background: #d9d9d9;
  }

  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}